.context {
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: left;
}
@media screen and (min-width:320px) and (max-width: 768px) {
  .context{
    flex-basis: 100%;
    margin-top: 10px;
    div{
      font-size: 1.4em;
    }
  }
}